<diV class="container">
    <div class="row justify-content-center">

        <div class="col-7">
            <%= image_tag @portfolio_item.main_image.variant(resize_to_limit: [500, nil]) %>
        </div>

        <div class="col-5">

            <h1><%= @portfolio_item.title %></h1>
            <hr>

            <em><%= @portfolio_item.subtitle %></em>
            <hr>

            <p><%= @portfolio_item.body %></p>
            <hr>

            <h2>Technologies Used:</h2>

            <% @portfolio_item.technologies.each do |t| %>
                <p><%= t.name %></p>
            <% end %> 

        </div>

    </div>
</div>


